---
import Footer from "../components/oor/Footer.astro";
import LoanTerms from "../components/oor/LoanTerms.astro";
import PaymentBreakdown from "../components/oor/PaymentBreakdown.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mobile Homes">
  <main class="w-full bg-nw-blue-3">
    <LoanTerms />
    <PaymentBreakdown />
    <div class="w-full h-[100px]"></div>

    <Footer />
  </main>
</Layout>
